.audioPlayer {
  margin: 10px;
  background-size: cover;
  position: relative;
  display: inline-block;
}

.audioPlayer audio{
  position: absolute;
  bottom: 0;
  width: 100%;
}

#main-title {
  background-image: url("images/header.jpg");
  height: 179px;
  border-radius: 10px;
}

.site-header {
  border-bottom: 0px;
}

.site-nav {
  text-align: center;
  float: none;
}

main .wrapper {
  background-image: url("background.jpg");
  background-repeat: repeat;
  padding: 0px;
  border-radius: 10px;
}

article {
  border-radius: 10px;
}

.post-content {
  min-height: 450px;
}

.page-content {
  padding-top: 0px;
}

.site-title img {
  height: 58px; 
  width: 296px; 
  margin-left: 21px; 
  margin-top: 21px; 
}

.side-block {
  float: right;
  width: 175px;
  min-height: 131px;
  border: 1px solid grey;
  background-color: #D8D8D8;
  background-image: url("backgroundimage_1_1.png");
  background-repeat: repeat;
  padding: 10px;
  margin: 0 0 20px 2em;
  font-size: 14px;

  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 20px -9px rgba(28,83,162,0.96); 
  box-shadow: 3px 3px 20px -9px rgba(28,83,162,0.96);

  @include media-query($on-palm) {
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
  }  
}

.side-block p {
  width: 100%;
  text-align: center;
}

.site-nav .page-link {
  color: white;
}

.page-content {
  background-color: $background-color;
}

article {
  padding: 1em;
}

@include media-query($on-palm) {
  .side-block {
    float: none;
    width: 80%;
  }
  .site-nav .menu-icon > svg {
    fill: white;
  }
  .post-content {
    align: center;
  }
  .site-nav {
    top: 140px;
  }
}
