.audioPlayer {
  margin: 10px;
  background-size: cover;
  position: relative;
  display: inline-block;
}

.audioPlayer audio{
  position: absolute;
  bottom: 0;
  width: 100%;
}

#main-title {
  background-image: url("images/header.jpg");
  height: 179px;
}

.site-title img {
  height: 58px; 
  width: 296px; 
  margin-left: 21px; 
  margin-top: 21px; 
}

.side-block {
  float: right;
  width: 175px;
  height: 331px;
  border: 1px solid grey;
  background-color: light-grey;
  padding: 10px;
  margin: 2em;
}
